<html>

<head>
	<title>About</title>
</head>

<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>


	<!-- navbar -->
	<nav>
		<div class="nav-wrapper teal lighten-2">
			<a href="/" class="brand-logo">Protocol</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/userprofile/">Profile</a></li>
				<li><a href="/logout/">Log out</a></li>
				<li><a href="/mypapers/">Papers</a></li>
			</ul>
		</div>
	</nav>


	<h1 style="margin-left:45px;" class = " teal-text text-lighten-2">About us</h1>

	<br>

	<div id = 'content' style="margin-left:45px;margin-right:45px;">

	<p>This is a research paper portal web application. It allows users to upload, access 

		and comment on research papers. We believe this application satisfies a real need in the 

		technical community. </p>

		<br>

		<p>When a researcher accomplishes a significant goal, he or she puts his or her findings in 

			the form of a research paper, and publishes it through a well-known organization such 

			as IEEE or ACM. This paper then becomes the primary source of information for faculty 

			and students who desire to learn more about the work the paper discusses. </p> 

			<br>

			<p>However, lack of accessibility of these papers is a major issue. Although portals do exist 

				such as IEEE Xplore and ACM Digital Library, there is no singular research portal that 

				caters to papers published in any conference throughout the world. This project aims to 

				satisfy that need by providing researchers with a one-stop destination where they can 

				access and comment on others' research papers, as well as upload their own. </p>

				<br>

				<p>This website also allows peers to comment and rate the paper, to allow researchers to gauge 

					reactions to their work. It also allows users to see the number of views a paper has 

					received, allowing them to gauge the paper's popularity.</p>
					<br><br>

					</div>

					<!--FOOTER-->
					<footer class="page-footer teal lighten-2" style = "margin-top:100px;">
						<div class="container">
							<div class="row">
								<div class="col l6 s12">
									<h5 class="white-text">Protocol</h5>
									<p class="grey-text text-lighten-4">Research paper sharing portal.</p>
								</div>
								<div class="col l4 offset-l2 s12">
									<h5 class="white-text">Links</h5>
									<ul>
										<li><a class="grey-text text-lighten-3" href="/about/">About</a></li>
										<!-- <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li> -->
										<li><a class="grey-text text-lighten-3" href="/team/">Team</a></li>

									</ul>
								</div>
							</div>
						</div>
						<div class="footer-copyright">
							<div class="container">
								© 2015 Copyright Protocol
								<a class="grey-text text-lighten-4 right" href="#!"></a>
							</div>
						</div>
					</footer>

				</body>

				</html>