<!DOCTYPE html>
<html>
<head>
<title> Uploaded </title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"> </script> -->
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"> </script>

    <!-- NAV BAR -->
    <nav>
	    <div class="nav-wrapper teal lighten-2">
	      <a href="#" class="brand-logo">Protocol</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/returnhome/">Home</a></li>
	        <li><a href="/userprofile/">Profile</a></li>
	        <li><a href="/logout/">Log out</a></li>
	        <li><a href="/mypapers/">Papers</a></li>
	      </ul>
	    </div>
    </nav>
<center><h1> {{message}} </h1></center>
<br>
<br>
<center><a href="/returnhome/" style="margin-left:10px"><font size="5">Return home</font></a></center>

</body>
</html>
