<html>

<head>
<title>Paper View</title>
</head>

   <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      
       <style type="text/css">
  
          #paper_frame{
            width: 80%;
            height: 1000px;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 5%;

          }


          #commentbox{
            margin-bottom: 10%;
          }

          #comments{

          }

        </style>

             </head>

<body>

  <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"> </script> -->
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"> </script>

    <!-- NAV BAR -->
    <nav>
	    <div class="nav-wrapper teal lighten-2">
	      <a href="#" class="brand-logo">Protocol</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/returnhome/">Home</a></li>
	        <li><a href="/userprofile/">Profile</a></li>
	        <li><a href="/logout/">Log out</a></li>
	        <li><a href="/mypapers/">Papers</a></li>
	      </ul>
	    </div>
    </nav>

    <!--Viewing the Paper -->
    <div class="content">
    <br>
    <br>
    <a href="/mypapers/" style="margin-left:10px"><font size="4">Back to My Papers</font></a>
    <br>
    <br>
<center><h3 class="page-header teal-text text-lighten-2">
  {{paper.title}}
</h3></center>
<br>
<br>
<center><h5 class = " teal-text text-lighten-2">{{paper.conference}}</h5></center>
<br>
<br>
<div>
<iframe id='paper_frame' src="/static/web/viewer.html?file={{paper.url}}"></iframe>
</div>

<div>
<h3 style="margin-left:20px;"> <img src="/static/images/view.png" height="50px" width="50px" /> {{paper.views}}&nbsp;&nbsp; Views</h3>  
</div>
<br>
<br>
<font size = "8" class = " teal-text text-lighten-2" style="margin-left:20px;" > Rating : </font> 
<div class="chip" size="4"> {{paper.rating}} </div>
<div id = "rating form">
<br>
<form action="/add_rating/" id="ratingform" name="ratingform" style="margin-left:20px;" method="post"> {% csrf_token %} 
    
      <input name="group1" type="radio" id="test1" value="1" />
      <label for="test1">1</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
      <input name="group1" type="radio" id="test2" value="2" />
      <label for="test2">2</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
      <input name="group1" type="radio" id="test3" value="3"  />
      <label for="test3">3</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
      <input name="group1" type="radio" id="test4" value="4"/>
      <label for="test4">4</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <input name="group1" type="radio" id="test5" value="5"/>
      <label for="test5">5</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     <input type="hidden" id="paper_id" name="paper_id" value="{{paper.paper_id}}">

      <button class="waves-effect waves-light btn" id="submit" type="submit" name="action" style="margin-left:10px;">Add Rating
          <i class="material-icons right">send</i>
        </button>
    
   

  </form>


</div>
<br><br>

<div class="sub-header" id="comments" style="margin-left:20px;">

  <h2 class = " teal-text text-lighten-2">Comments</h2>  
<div>
{% if paper.comment_list %} 

{% for item in paper.comment_list %}

 <div class="row">
        <div class="col s12 m6">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <a class="card-title" href = "http://localhost:8000/userdetails/{{ item.UserProfile_id }}/">@{{ item.UserProfile_id }}</a>
              <br>
              <b><font size = "4">{{ item.subject}}</font></b>
              <p>{{item.content}}</p>
              <br>
              <p>{{ item.comment_time }}</p>
            </div>
            
          </div>
        </div>
      </div>

  {% endfor %}
{% else %}
  There are no new comments
{% endif %}

  
</div>
    
  
</div>

<br>
<br>
<br>
<div  class="sub-header" id='commentbox' class="" style="margin-left:20px;">
<h2 class = " teal-text text-lighten-2" >Add Comment</h2>

  
     <form class="col s12" id='commentform' name="commentform" method="post" action="/add_comment/"> {% csrf_token %} 
             <div class="row">
          <div class="input-field col s4">
            <input id="input_text" type="text" length="25" id="subject" name = "subject">
            <label for="input_text">Subject</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <textarea id="textarea1" class="materialize-textarea" length="500" id="content" name="content"></textarea>
            <label for="textarea1">Content</label>
          </div>
        </div>
        <div> <input type="hidden" id="paper_id" name="paper_id" value="{{paper.paper_id}}"> </div>

        <button class="waves-effect waves-light btn-large" id="submit" type="submit" name="action" style="margin-left:10px;">Submit
          <i class="material-icons right">send</i>
        </button>

      </form>
 
<!--  </form> -->

</div>
</div>

</body>
</html>




